a {
    background: none;
}

img.switch {
    width: 8em;
    height: 8em;
}

.info {
    display: flex;
    justify-content: space-between;
    padding-right: 2em;
}

.info * {
    align-self: center;
}

.content {
    margin-left: 10%;
}
